# Ignore compiled Java files
*.class

# Ignore Eclipse IDE project files
.settings/
.classpath
.project

# Ignore build directory
bin/

# Ignore workspace metadata
.metadata/
.mylyn/
.plugins/
.lock
.log
version.ini

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp