# Ignore metadata and IDE-specific files
.metadata/
.mylyn/
.plugins/
.lock
.log
version.ini

# Ignore Eclipse project files
.settings/
.classpath
.project

# Ignore compiled files and folders
bin/

# Ignore temporary remote system files
RemoteSystemsTempFiles/
